#root {
    height: 100%;

    .container {
        height: 100%;

        .ant-layout-header {
            color: white;
            height: 64px;
            padding: 0 50px;
            line-height: 64px;
            padding: 0 !important;
            // background: #1890ff;
            .anticon {
                font-size: 30px;
            }
            .logo-title{
                display: inline-block;
                font-size: 20px;
                margin-left:20px ;
            }
        }


        .sider {
            width: 200px;
            overflow:auto;
        }
    }
}